<div class="animated fadeIn">
    <a class="btn btn-verde" ng-href="#/cadastro">Novo Usuário</a>
    <table datatable="ng" class="row-border table-striped" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
           dt-instance="dtInstanceCallback" width="100%;">
        <thead>
        <tr>
            <th>Status</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Matrícula</th>
            <th>Cargo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in users">
            <td style="color: {{c.ativo ? 'green' : 'red'}}">
                {{c.ativo ? 'Ativo' : 'Inativo'}}
            </td>
            <td>
                {{c.nome}}
            </td>
            <td>
                {{c.userName}}
            </td>
            <td>
                {{c.matricula}}
            </td>
            <td>
                {{c.roles.join(', ')}}
            </td>
            <td style="text-align: left;">
                <i class="fa fa-{{c.ativo ? 'close' : 'check'}}" rel="tooltip" data-toggle="tooltip" title="{{c.ativo? 'Desativar' : 'Ativar'}}" 
                   ng-click="alterarStatus(c)" style="cursor: pointer; margin-right: 4px;"></i>
                <a ng-href="#/conta/{{c.id}}" data-toggle="tooltip" rel="tooltip" title="Editar" style="color: #333; text-decoration: none; margin-right: 4px;">
                    <i class="fa fa-pencil"></i>
                </a>
                <i class="fa fa-trash" rel="tooltip" data-toggle="tooltip" title="Excluir" ng-click="excluir(c)" style="cursor: pointer;"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>