<div class="animated fadeIn">
	<div id="dataPend" style="display: none;">
		<div ng-repeat="p in pendentes" class="col-xs-12 col-sm-6 col-md-4">
			<div class="solicitacao">
					<span class="item">
						<label>Nome: </label>
						{{p.nome}}
					</span>
					<span class="item">
						<label>Email: </label>
						{{p.userName}}
					</span>
					<span class="item" ng-show="p.roles.length">
						<label>Cargo: </label>
						{{p.roles.join(', ')}}
					</span>
					<span class="item">
						<label>Matrícula: </label>
						{{p.matricula}}
					</span>
				</div>
				<div class="form-group">
					<button class="btn btn-vermelho">
						<i class="fa fa-close" style="margin-right: 4px;"></i> Reprovar
					</button>
					<button class="btn btn-verde" style="float: right;" ng-click="aprovarCadastro(p.id)">
						<i class="fa fa-check" style="margin-right: 4px;"></i> Aprovar
					</button>
				</div>
			</div>
		</div>
	</div>
	<div id="emptyPend" style="display: none;">
		<span>
			Nenhum cadastro pendente no momento.
		</span>
	</div>
</div>
