<div class="animated fadeIn">
		<div ng-repeat="s in solicitacoes">
			<a ng-href="#/prof/solicitacao/{{s.id}}">
				<div class="solicitacao" style="background-color: {{getStatusColor(s.status)}};">
					<span class="item">
						<label>{{s.local}}: </label>
						{{s.numero}}
					</span>
					<span class="item">
						<label>Data: </label>
						{{formatDate(s.data)}}
					</span>
					<span class="item">
						<label>Motivo(s): </label>
						{{s.motivo.join(", ")}}
					</span>
					<span class="item">
						<label>Status: </label>
						{{getStatus(s.status)}}
					</span>
				</div>
			</a>
		</div>
	</div>
</div>
