<div class="animated fadeIn">
    <div ng-show="solicitacoes.length">
        <div ng-repeat="s in solicitacoes">
            <a ng-href="#/solicitacao/{{s.Id}}" class="col-xs-12 col-sm-6 col-md-4">
                <div class="solicitacao" style="background-color: {{getStatusColor(s.status)}};">
                    <span class="item">
                        <label>Solicitante: </label>
                        {{s.IdSolicitante}}
                    </span>
                    <span class="item">
                        <label>Sala: </label>
                        {{s.sala}}
                    </span>
                    <span class="item">
                        <label>Data: </label>
                        {{formatDate(s.data)}}
                    </span>
                    <span class="item">
                        <label>Motivo(s): </label>
                        {{s.problemas.join(", ")}}
                    </span>
                    <span class="item">
                        <label>Status: </label>
                        {{getStatus(s.status)}}
                    </span>
                </div>
            </a>
        </div>
    </div>
    <div ng-show="!solicitacoes.length">
        <span>
            Nenhuma solicitação no momento.
        </span>
    </div>
</div>
