<div class="animated fadeIn">
	<div ng-show="pendentes.length">
		<div ng-repeat="p in pendentes" class="col-xs-12 col-sm-6 col-md-4">
			<div class="solicitacao">
					<span class="item">
						<label>Nome: </label>
						{{p.name}}
					</span>
					<span class="item">
						<label>Email: </label>
						{{p.email}}
					</span>
					<span class="item">
						<label>Cargo: </label>
						{{getTipo(p.tipo)}}
					</span>
					<span class="item">
						<label>Matrícula: </label>
						{{p.matricula}}
					</span>
				</div>
				<div class="form-group">
					<button class="btn btn-vermelho">
						<i class="fa fa-close" style="margin-right: 4px;"></i> Reprovar
					</button>
					<button class="btn btn-verde" style="float: right;">
						<i class="fa fa-check" style="margin-right: 4px;"></i> Aprovar
					</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="!pendentes.length">
		<span>
			Nenhum cadastro pendente no momento.
		</span>
	</div>
</div>
